body{
    background-color:rgb(0, 0, 0);
    font-family:SimHei;
}
#header{
    font-family:arial;
    font-size:45px;
    color:rgb(217, 255, 0);
    text-align:center;
    font-weight: bold;
    text-shadow: 5px 5px 12px rgb(44, 124, 243);/*陰影特效*/
    height:150px;
}
#background{
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;/*設定為底頁*/
    background-image:url("./img/background.jpg");
    width:100%;
    height:1000px;
}
#container{
    width:100%;
    margin:0 auto;
    width:800px;
    position:flex;
}
.box1{
    background-color:rgb(255, 255, 255);
    opacity: 0.8;/*文字框半透明*/
    border-radius: 1em;
    padding: 10px ;
    line-height: 14px;
    text-align:left;
    width:350px;
    margin-left:1px;
    margin-right:481px;
}
.box2{
    background-color:rgb(255, 255, 255);
    opacity: 0.85;
    border-radius: 1em;
    padding: 10px ;
    line-height: 14px;
    width:300px;
    height: 430px;
    text-align:left;
    float: right;
}
.box3{
    margin-top: 5%;
    margin-left:0px;
    margin-right:480px;
    padding-bottom: 5px;
    width: 800px;
    padding-top:10px;
    background-color:rgb(255, 255, 255);
    opacity: 0.85;
    border-radius: 1em;
    padding-left: 10px;
    line-height: 14px;
    text-align:left;
    float: rigth;
}
#larger{
    font-size: 30px;
    color:rgb(0, 38, 255);
}
.box1:hover{/*滑鼠放在文字框上會變色*/
    margin-left:0px;
    margin-right:480px;
    background:rgb(251, 233, 255);
    background: linear-gradient(to bottom right, rgb(205, 236, 221), white);
}
.box2:hover{
    width:301px;
    height: 431px;
    background: linear-gradient(to bottom right, rgb(207, 255, 229), pink);
}
.box2 h1{
    font-family:Arial;
    font-size:30px;
    color:rgb(5, 152, 250);
}
.box2 ol li{
    margin-left:20px;
    color:rgb(168, 24, 24);
    font-size: 25px;
    opacity: 0.75;
    margin-right:20px;
}

.box1 li{
    color:rgba(102, 0, 0, 0.418);
    font-size: 25px;
}
.box1 p{
    color:rgb(3, 181, 194);
    font-size: 20px;
    padding-left: 30px;
}
.box1 p:hover{
    color:black;
    font-size:22px;
    font-weight:bold;
}


.image{
    background-image:url("./img/me.jpg");
    background-size: cover;
    background-position:10px;
    height: 120px;
    width: 120px;
    border: 2px black solid;
    padding-left:100px;
    padding-top:100px;
    border-radius: 1em;
    margin-left:40px;
}
.image:hover{
    width:121px;
    height:121px;
    border-color:rgb(208, 255, 0);
}
.tip {
    position: relative;
    display: inline-block;
}

.tip .tiptext {
    font-size: 10px;
    visibility: hidden;
    width: 180px;
    background-color: rgb(88, 155, 255);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
}

.tip:hover .tiptext {
    visibility: visible;
}
#result{
    padding-top:10px;
}